.container {
  .about-container {
    padding-top: 9em;
    .about-title {
      font-size: 8.1em;
      font-weight: bolder;
      color: black;
      -webkit-text-fill-color: white;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;

      @include media("<=tablet") {
        font-size: 4.1em;
        padding: 30px;
      }
      @include media("<=phone") {
        font-size: 2.1em;
        padding: 20px;
      }
    }
    .about-small-title {
      font-size: 3.75em;
      @include media("<=tablet") {
        font-size: 2.1em;
        padding: 30px;
      }
      @include media("<=phone") {
        font-size: 1.1em;
        padding: 20px;
      }
    }
    .about-description {
      font-size: 1.5em;
      margin: 0 auto;
      margin-top: 2em;
      letter-spacing: 3px;
      line-height: 30px;

      @include media("<=tablet") {
        padding: 30px;
      }

      @include media("<=phone") {
        padding: 20px;
        font-size: 0.7em;
      }
    }
  }
}
